{% set title = "Footer (custom copyright statement)" %}
{% from 'components/footer/macro.jinja' import footer %}
{% extends '_templates/example.jinja' %}
{% block main %}
  {{ footer({
    "copyright": "© East London NHS Foundation Trust",
    "links": [
      {
        "URL": "#",
        "label": "Accessibility statement"
      },
      {
        "URL": "#",
        "label": "Give us feedback"
      },
      {
        "URL": "#",
        "label": "Cookies"
      },
      {
        "URL": "#",
        "label": "Privacy policy"
      },
      {
        "URL": "#",
        "label": "Terms and conditions"
      }
    ]
  }) }}
{% endblock %}
