{% set title = 'Panel' %}
{% from 'components/panel/macro.jinja' import panel %}
{% extends 'example.jinja' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ panel({
        "titleText": "Booking complete",
        "text": "We have sent you a confirmation email"
      }) }}
    </div>
  </div>
{% endblock %}
