{% set title = 'Input with prefix' %}
{% from 'components/input/macro.jinja' import input %}
{% extends 'example.jinja' %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ input({
        "label": {
          "text": "What is the cost in pounds?",
          "classes": "nhsuk-label--l"
        },
        "id": "input-with-prefix",
        "name": "test-name-4",
        "prefix": "£",
        "classes": "nhsuk-input--width-5"
      }) }}
    </div>
  </div>
{% endblock %}
