name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    name: Check for changes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: check
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: .tool-versions
          cache: 'npm'

      - name: Set up uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
        with:
          python-version-file: ".tool-versions"

      - name: Install Python dependencies
        run: uv sync --locked --all-extras --dev

      - name: Install Node dependencies
        run: npm ci

      - name: Run linting
        run: uv run djlint -

      - name: Run unit tests
        run: uv run pytest
